# 연습2 - 데이터에 감 잡기

이번에는 인터넷에서 직접 데이터를 가져오자. 데이터와 자료를 공유해준 https://github.com/justmarkham 에게 특별히 감사를 전한다.

### 단계 1. 필요한 라이브러리를 가져온다.

In [1]:
import pandas as pd
import numpy as np

### 단계 2. 이 [주소](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 에서 필요한 데이터를 가져온다.

### 단계 3. chipo라는 변수에 저장한다.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### 단계 4. 첫 10개 행을 본다.

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 단계 5. 데이터 안에 몇 개의 관측치가 들어 있나?

In [4]:
# 해법 1

chipo.shape[0]  # entries <= 4622 observations

4622

In [5]:
# 해법 2

chipo.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### 단계 6. 데이터에 열columns은 몇 개인가?

In [6]:
chipo.shape[1]

5

### 단계 7. 모든 열의 이름을 출력하라.

In [7]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### 단계 8. 데이터는 어떻게 색인되어 있나?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 단계 9. 어떤 물건을 가장 많이 구매하나?

In [9]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 단계 10. 가장 많이 구매하는 물건을 총 몇 개나 구매했나?

In [10]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 단계 11. choice_description 열에서 가장 많이 구매한 아이템은 무엇인가?

In [11]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### 단계 12. 모두 합쳐서 몇 개의 아이템을 구매했나?

In [12]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### 단계 13. 아이템 가격item_price을 float 자료형으로 바꿔라

#### 단계 13.a. 아이템 가격의 자료형을 확인하자.

In [13]:
chipo.item_price.dtype

dtype('O')

#### 단계 13.b. 람다 함수를 만들어서 아이템 가격을 바꿔보자.

In [14]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [15]:
#### 단계 13.c. 다시 아이템 가격의 자료형을 확인하자.

dtype('float64')

### 단계 14. 데이터에 나온 기간 동안 수익revenue은 얼마인가?

In [22]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### 단계 15. 이 기간 동안 얼마나 많은 구매가 이루어졌나?

In [23]:
orders = chipo.order_id.value_counts().count()
orders

1834

### 단계 16. 구매 당 평균 수익은 얼마인가?

In [31]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [32]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### 단계 17. 팔린 서로 다른 아이템의 종류는 몇 가지인가?

In [33]:
chipo.item_name.value_counts().count()

50